.blogSection {
  background-color: white;
  padding: 50px 5%;
}

.blogHeader {
  width: 80%;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.blogHeaderSpan {
  font-size: 22px;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 18px;
    text-align: left;
  }
}

.blogHeaderH2 {
  font-size: 56px;
  font-weight: 700;
  max-width: 650px;

  @media (max-width: 768px) {
    font-size: 32px;
    text-align: left;
  }
}

.blogContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.blogCardLink {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(25% - 22.5px); // 4 карточки в ряд с учетом gap
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;

  &:hover {
    .blogCard {
      img {
        transform: scale(1.05);
      }
    }
  }

  // сдвиг нечетных карточек выше (по желанию можно оставить ноль)
  &:nth-child(odd) {
    margin-top: 0;
  }
}

.blogCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
      height: 250px;
    }
  }

  span {
    display: block;
  }
}

// адаптив
@media (max-width: 1200px) {
  .blogCardLink {
    width: calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .blogCardLink {
    width: 100%;
  }
}

.blogCardSpanTag {
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}

.blogCardSpanTitle {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  transition: color 0.3s ease;
}

.blogCardSpanDate {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  font-family: Poppins, sans-serif;
}
