.specialistSection {
  background-color: white;
  padding: 150px 15%;

  @media (max-width: 1300px) {
    padding: 100px 10%;
  }

  @media (max-width: 600px) {
    padding: 60px 5%;
  }
}

.specialistContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: black;
  padding: 20px;
  gap: 40px;

  @media (max-width: 968px) {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
}

.specialistText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
  color: white;
  width: 50%;
  padding: 40px;

  @media (max-width: 968px) {
    width: 90%;
    padding: 20px;
    gap: 20px;
    justify-content: flex-start; // при колонке прижимаем к верху
  }
}

.specialistSubtitle {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 500px;

  @media (max-width: 1500px) {
    font-size: 28px;
  }

  @media (max-width: 1300px) {
    font-size: 24px;
    max-width: 100%;
  }

  @media (max-width: 968px) {
    font-size: 20px;
    text-align: center;
  }
}

.specialistInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  @media (max-width: 968px) {
    align-items: center;
    gap: 5px;
  }

  .specialistName {
    font-size: 24px;
    font-weight: 600;

    @media (max-width: 1500px) {
      font-size: 20px;
    }

    @media (max-width: 968px) {
      font-size: 18px;
    }
  }

  .specialistLocation {
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #cccccc;

    @media (max-width: 1500px) {
      font-size: 16px;
    }

    @media (max-width: 968px) {
      font-size: 14px;
    }
  }
}

.specialistImage {
  width: 50%;

  @media (max-width: 968px) {
    width: 90%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;

    @media (max-width: 968px) {
      height: auto;
      object-fit: contain;
    }
  }
}
